@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** base **/
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #f9f9f9;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

a[href^=http]:not([href*="anything.com"])::after {
  content: "↗";
}

code {
  display: block;
  white-space: pre;
  font-family: monospace;
  padding: 1rem;
  background: #ddd;
  margin: 0 0 1rem 0;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

/** header **/
header {
  width: 100%;
  order: 10;
  display: flex;
  background: #eee;
  padding: 1.5rem;
  color: #333;
  box-shadow: inset 0 -8rem 8rem -8rem rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
header #logo {
  font-size: 5rem;
  margin-right: 1rem;
}
header hgroup h1 {
  font-size: 3rem;
}
header hgroup h2 {
  font-size: 2rem;
}

/** nav **/
nav {
  display: flex;
  order: 20;
  width: 100%;
  box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  background: #999;
  z-index: 2;
}
nav input,
nav button {
  font-size: 1.5rem;
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2rem;
  border: 0;
  background: #bbb;
  box-shadow: 0 0 0 1px #666;
  vertical-align: middle;
  color: #333;
  flex-grow: 1;
  transition: all 0.25s;
}
nav button.active,
nav button:hover {
  background: #09f;
}
nav button a {
  display: block;
  color: inherit;
  text-decoration: none;
}
nav button i {
  margin-right: 0.5rem;
  font-size: 0.8em;
}
nav #searchButton {
  margin: 0;
  margin-left: -1px;
  flex-grow: 0;
}
nav #searchButton i {
  margin-right: 0;
}
nav #searchField {
  margin: 0;
  background: #ddd;
  flex-grow: 0;
  width: 110px;
}
nav #searchField:focus {
  flex-grow: 1;
  width: 180px;
}

/** aside **/
aside {
  flex-shrink: 1;
  order: 45;
  background: #f9f9f9;
  padding: 1rem;
  box-shadow: 0 0 0 1px #999;
}

aside img {
  width: 100%;
  max-width: 12rem;
}

aside ul {
  padding: 1rem 0 1rem 1.5rem;
  max-width: 12rem;
}

aside ul li {
  max-width: 100%;
  list-style-type: disc;
}

aside ul li + li {
  margin-top: 0.5rem;
}

/** main **/
main {
  flex-grow: 1;
  order: 40;
  background: #fff;
  padding: 1rem;
  font-size: 1.5rem;
}
main h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid #000;
}
main h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
main ul {
  margin-left: 1rem;
}
main button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 1rem;
  background: #09f;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
main button:focus {
  outline: none;
}

/** footer **/
footer {
  order: 50;
  background: #ddd;
  padding: 2rem;
  box-shadow: 0 0 0 1px #999;
}

/** overlay **/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 5rem;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  max-height: 100%;
  display: none;
}
.overlay .overlay-contents {
  padding: 1rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.overlay p {
  margin: 0 0 1rem 0;
}
.overlay header {
  padding: 1rem;
  display: flex;
}
.overlay header h2 {
  flex-grow: 1;
}
.overlay section {
  background: #fff;
  overflow: auto;
  flex-shrink: 1;
  order: 30;
}

.overlay:target {
  display: block;
}

/** form **/
form {
  padding-top: 1rem;
}
form h3 {
  margin: 3rem 0;
  border-bottom: 1px solid #000;
}
form label {
  display: flex;
  flex-direction: column;
  position: relative;
}
form label input, form label select {
  order: 1;
}
form label.required .labelText::after {
  content: "*";
  color: red;
}
form [class*=field-] + [class*=field-] {
  margin-top: 3rem;
}
form label + label {
  margin-left: 1rem;
}
form .field-multiple {
  display: flex;
  flex-direction: row;
}
form .field-multiple label {
  flex-grow: 1;
}
form .field-multiple label.small {
  flex-grow: 0;
}
form .field-checkbox label,
form .field-radio label {
  flex-direction: row;
}
form .field-checkbox input,
form .field-radio input {
  order: 0;
}
form input:not([type=checkbox]):not([type=radio]),
form select {
  height: 3rem;
  font-size: 2rem;
  border-color: #999;
  border-width: 0 0 1px 0;
}
form input:not([type=checkbox]):not([type=radio]):focus,
form select:focus {
  outline: 0;
}
form input:not([type=checkbox]):not([type=radio]) + .labelText::after,
form select + .labelText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #09f;
  transition: all 0.25s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
form input:not([type=checkbox]):not([type=radio]):focus + .labelText::after,
form select:focus + .labelText::after {
  transition: all 0.5s;
  transform: scaleX(0);
}
form .field-toggle input[type=checkbox] {
  visibility: hidden;
}
form .field-toggle .labelText {
  margin-left: 2rem;
}
form .field-toggle .labelText::before,
form .field-toggle .labelText::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 2.4rem;
  height: 1rem;
  background: #bbb;
  border-radius: 0.5rem;
  transition: all 0.5s;
}
form .field-toggle .labelText::before {
  box-shadow: inset 0 0 0.5rem 0 #000;
}
form .field-toggle .labelText::after {
  top: 0.1rem;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: #333;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}
form .field-toggle input:checked + .labelText::after {
  left: 1.5rem;
  background: #444;
}
form .field-toggle input:checked + .labelText::before {
  background: #09f;
}

/*animations page*/
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loadBar {
  0% {
    left: 0;
  }
  50% {
    left: 0%;
    width: 100%;
    margin-left: 0;
  }
  100% {
    left: 100%;
    margin-left: -2rem;
  }
}
@keyframes doButton {
  0% {
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
    background: #09f;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  50% {
    width: 35rem;
    height: 2rem;
    font-size: 1rem;
  }
  100% {
    background: #66c2ff;
    width: 30rem;
    height: 7rem;
    font-size: 2rem;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.5);
  }
}
main.animationsPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /*loading-spinner */
  /*loading-bar*/
  /*animating button*/
}
main.animationsPage .loading-spinner {
  height: 10rem;
  width: 10rem;
  background: #fff;
  border-radius: 5rem;
  position: relative;
  box-shadow: 0 0.1rem 0.25rem 0 rgba(0, 0, 0, 0.5), inset 0 0.1rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}
main.animationsPage .loading-spinner div {
  content: "";
  background: #09f;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0.25rem 0 rgba(0, 0, 0, 0.5);
  transform-origin: 1rem 6rem;
  transform: rotate(0deg);
  animation: spin 1s infinite linear;
}
main.animationsPage .loading-spinner div:nth-child(2) {
  animation-delay: 0.2s;
}
main.animationsPage .loading-spinner div:nth-child(3) {
  animation-delay: 0.4s;
}
main.animationsPage .loading-spinner div:nth-child(4) {
  animation-delay: 0.6s;
}
main.animationsPage .loading-spinner div:nth-child(5) {
  animation-delay: 0.8s;
}
main.animationsPage .loading-bar {
  margin: 2rem 0;
  height: 2rem;
  width: 20rem;
  background: #ddd;
  position: relative;
  border-radius: 1rem;
  box-shadow: inset 0 0.1rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}
main.animationsPage .loading-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: #09f;
  border-radius: 1rem;
  box-shadow: inset 0 -0.1rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  animation: loadBar 2s linear infinite;
  animation-direction: alternate;
}
main.animationsPage button {
  border: 0;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  background: #09f;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
main.animationsPage button.active {
  background: #66c2ff;
  width: 30rem;
  height: 7rem;
  font-size: 2rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.5);
}
main.animationsPage button.hasAnimation {
  animation: doButton 1s;
  animation-direction: reverse;
}
main.animationsPage button.hasAnimation.active {
  animation-direction: normal;
}
main.animationsPage button:focus {
  outline: 0;
}

main.transformsPage {
  perspective-origin: 50% 50%;
  perspective: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
main.transformsPage button {
  left: 0;
  padding: 0;
  transition: all 1s;
  position: relative;
  height: 6rem;
  line-height: 6rem;
  width: 12rem;
  transform-style: preserve-3d;
}
main.transformsPage button div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
main.transformsPage button div.back {
  transform: rotateY(180deg);
}
main.transformsPage button:nth-child(1).active {
  transform: rotateY(180deg);
}
main.transformsPage button:nth-child(2).active {
  transform: rotate(10deg) translateZ(10rem);
}
main.transformsPage button:nth-child(3).active {
  transform: skew(-20deg, -20deg);
}

/*# sourceMappingURL=styles.css.map */
