$font-stack : Helvetica, sans-serif;
$highlightColor: #09f;

@mixin trans($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@import '_reset.scss';
@import '_base.scss';
@import '_header.scss';
@import '_nav.scss';
@import '_aside.scss';
@import '_main.scss';
@import '_footer.scss';
@import '_overlays.scss';
@import '_forms.scss';
@import '_animations.scss';
@import '_transforms.scss';
